#printdiet {
  padding: 32px;
  max-width: 597px;
  margin: 0 auto;
  margin-top: 16px;
}
.diet_header {
  height: 243px;
  width: 100%;
  margin: 28px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
}
.diet_header h1 {
  font-size: 40px;
}
.nbllogo {
  height: 74px;
  margin: 0 auto;
  text-align: center;
  object-fit: contain;
  padding: 1rem;
}
#appointmentdetails,
#dietarea,
#supplimentsarea {
  padding: 0 32px;
  margin-bottom: 38px;
  margin-top: 16px;
}
.appointment_info_card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  grid-gap: 24px;
}
.dietcard,
.suppliments_card {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}
.dietcard {
  padding: 12px;
}
.pointscard ul li {
  padding-bottom: 32px;
}
.dietcard ul li {
  padding: 12px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.dietcard ul li:last-of-type {
  border-bottom: none;
}
.user_img {
  width: 64px;
  border-radius: 50%;
  height: 64px;
  object-fit: cover;
}
@media screen and (max-width: 850px) {
  #printdiet {
    padding: 0;
    width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 16px;
  }
  #printdiet h3 {
    font-size: 18px;
  }
  .diet_header {
    height: 150px;
    margin: 32px 0;
  }
  .diet_header h1 {
    font-size: 28px;
  }
  #appointmentdetails,
  #dietarea,
  #supplimentsarea {
    padding: 0;
    margin-bottom: 32px;
  }
  .appointment_info_card {
    padding: 16px;
  }
}
