.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.wid100 {
  width: 100%;
}

.wid90 {
  width: 90%;
}

.wid80 {
  width: 80%;
}

.wid70 {
  width: 70%;
}

.wid60 {
  width: 60%;
}

.center {
  margin: 0 auto;
}

.flex-center {
  align-self: center;
}

.center-text {
  text-align: center;
}

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.center-flex {
  justify-content: center;
  align-items: center;
}

.col-12 {
  width: 100%;
  flex: 0 0 100%;
}

.col-md-4 {
  width: 33.33%;
  flex: 0 0 33.33%;
}

.col-md-6 {
  width: 50%;
  flex: 0 0 50%;
}

.col-md-8{
  width:66.66%;
  flex:0 0 66.66%;
}

.col-md-5 {
  width: 41.66%;
  flex: 0 0 41.66%;
}

.col-md-3 {
  width: 25%;
  flex: 0 0 25%;
}

.space-bw {
  justify-content: space-between;
}

.m-1 {
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}

.border {
  border-radius: 20px;
}

@media (max-width: 768px) {

  body,
  html {
    overflow-x: hidden;
  }

  .col-md-3 {
    width: 100%;
    flex: 0 0 100%;
  }

  .col-md-4 {
    width: 100%;
    flex: 0 0 100%;
  }

  .col-md-5 {
    width: 100%;
    flex: 0 0 100%;
  }

  .col-md-6 {
    width: 100%;
    flex: 0 0 100%;
  }

  .col-md-8 {
    width: 100%;
    flex: 0 0 100%;
  }

  .wid90 {
    width: 100%;
  }

  .w-9 {
    width: 90%;
  }

  .text-m-left {
    text-align: left !important;
  }

  .mt-m-1 {
    margin-top: 1rem;
  }

  .mb-m-1 {
    margin-bottom: 1rem;
  }

  .ml-m-1 {
    margin-left: 1rem;
  }

  .mr-m-1 {
    margin-right: 1rem;
  }

  .pt-m-1 {
    padding-top: 1rem;
  }

  .pb-m-1 {
    padding-bottom: 1rem;
  }

  .pl-m-1 {
    padding-left: 1rem;
  }

  .pr-m-1 {
    padding-right: 1rem;
  }

  .mt-m-2 {
    margin-top: 2rem;
  }

  .mb-m-2 {
    margin-bottom: 2rem;
  }

  .ml-m-2 {
    margin-left: 2rem;
  }

  .mr-m-2 {
    margin-right: 2rem;
  }

  .pt-m-2 {
    padding-top: 2rem;
  }

  .pb-m-2 {
    padding-bottom: 2rem;
  }

  .pl-m-2 {
    padding-left: 2rem;
  }

  .pr-m-2 {
    padding-right: 2rem;
  }

  .mt-m-3 {
    margin-top: 3rem;
  }

  .mb-m-3 {
    margin-bottom: 3rem;
  }

  .ml-m-3 {
    margin-left: 3rem;
  }

  .mr-m-3 {
    margin-right: 3rem;
  }

  .pt-m-3 {
    padding-top: 3rem;
  }

  .pb-m-3 {
    padding-bottom: 3rem;
  }

  .pl-m-3 {
    padding-left: 3rem;
  }

  .pr-m-3 {
    padding-right: 3rem;
  }

  .mt-m-4 {
    margin-top: 4rem;
  }

  .mb-m-4 {
    margin-bottom: 4rem;
  }

  .ml-m-4 {
    margin-left: 4rem;
  }

  .mr-m-4 {
    margin-right: 4rem;
  }

  .pt-m-4 {
    padding-top: 4rem;
  }

  .pb-m-4 {
    padding-bottom: 4rem;
  }

  .pl-m-4 {
    padding-left: 4rem;
  }

  .pr-m-4 {
    padding-right: 4rem;
  }

  .mt-m-5 {
    margin-top: 5rem;
  }

  .mb-m-5 {
    margin-bottom: 5rem;
  }

  .ml-m-5 {
    margin-left: 5rem;
  }

  .mr-m-5 {
    margin-right: 5rem;
  }

  .pt-m-5 {
    padding-top: 5rem;
  }

  .pb-m-5 {
    padding-bottom: 5rem;
  }

  .pl-m-5 {
    padding-left: 5rem;
  }

  .pr-m-5 {
    padding-right: 5rem;
  }
}

.pl-0 {
  padding-left: 0;
}

.text-left {
  text-align: left !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}


#section {
  transition: transform 0.25s;
  will-change: transform;
}

.header .img{
  position: absolute;
  width:400px;
  height:500px;
  transition-timing-function: ease-out;
}

.header .img-1{
  background: no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 1000ms;
}

.header .img-2{
  background: no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 800ms;
}

.header .img-3{
  background: no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 600ms;
}


.header .img-4{
  background: no-repeat 50% 50%;
  background-size: cover;
  transition-duration: 400ms;
}

.card {
  background-size: cover;
  height: 300px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.card-inner {
  display: flex;
  left: -1.5rem;
  position: relative;
  flex-direction: column;
  align-self: flex-end;
  color: white;
}

/* small_projects */

.small_projects ul {
  padding-left: 0;
}

.small_projects ul li {
  padding: .5rem;
  display: inline-block;
  list-style: none;
  transition: all .3s cubic-bezier(.165, .84, .44, 1);
}

ul li:focus,
.small_projects ul li:hover {
  transition: all .3s cubic-bezier(.165, .84, .44, 1);
  padding-left: 16px;
}


.small_projects .container {
  position: absolute;
  width: 250px;
  height: 100px;
  background: white;
  z-index: 1;
  display: none;
  transform: scaleX(0);
  transform-origin: left;
  animation: reveal 1s ease forwards;
}

.small_projects .container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0e0d16;
  z-index: 1;
  animation: reveal 1s reverse forwards;
  transform-origin: right;
  animation-delay: .2s;
}

.blogs_card img {
  max-width: 100%;
  object-fit: cover;
  height: 250px;
}

.design_card img {
  width: 100%;
}

.insta img {
  max-width: 100%;
  height: 300px;
}

.youtube img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.small_projects .container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small_projects li:hover+.container {
  opacity: 1;
  display: block;
}

@keyframes reveal {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.cool-link::after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 2px;
  width: 0;
  transition: width .5s ease;
  background: #fff;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .5s ease;
}

.cool-link:hover,
.cool-link:focus {
  cursor: pointer;
}

.design_card {
  width: 100%;
}

.blogs_card {
  width: 100%;
}



.h-6 {
  height: 1.5rem;
}

.main-btn {
  padding: 1rem;
  width: auto;
  text-align: center;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 0.3s all ease;
}

.main-btn:hover {
  border: none;
  transition: 0.3s all ease;
  color: #000;
  cursor: pointer;
  transform: translateY(-.4rem);
  background: #fff;
}

.red {
  color: white;
  background: red;
}

.instacolor {
  background: #fff;
  color: #000;
}

.contact-link {
  font-size: 50px;
  width: auto;
  font-family: 'Pero', sans-serif;
  display: inline-block;
  transition: 0.3s all ease;
}

.contact-link i {
  font-size: 45px;
  padding-left: 1rem;
  transition: 0.3s all ease;
}

.cursor:focus,
.cursor:hover {
  cursor: pointer;
}

@media (max-width: 769px) {
  .contact-link {
    font-size: 3rem;
  }
}

.contact-link::after {
  content: '';
  display: block;
  margin-top: 10px;
  height: 5px;
  width: 0;
  transition: width 0.5s ease;
  background: #fff;
}

.contact-link:hover::after {
  width: 100%;
  transition: width 0.5s ease;
}

.text-white {
  color: white;
}

.animcontainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5efe1;
  animation: slide-out-container 3s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-out-container {
  0% {
      height: 100vh;
  }

  40% {
      height: 100vh;
  }

  100% {
      height: 0;
  }
}

.text-wrapper {
  color: rgb(0, 0, 0);
  position: absolute;
}

.text {
  font-family: "Pero", sans-serif;
  font-size: 54px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
  color: #f5efe1;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 100%;
  }

  99% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

.text-1 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

.text-2 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-3 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-4 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-5 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-6 {
  animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
  opacity: 0;
}

.text-7 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-8 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-9 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-10 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-11 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }

  20% {
    opacity: 0;
  }

  39% {
    opacity: 0;
  }

  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }

  60% {
    opacity: 0;
  }

  79% {
    opacity: 0;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 990px) {
  .text {
    font-size: 24px;
  }
}

#preloader {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99;
}

.footer {
  background: white;
  color: #000;
}

.socialicon {
  transition: 0.3s all ease;
}

.socialicon:hover,
.socialicon:focus {
  transition: 0.3s all ease;
  opacity: 1;
  transform: translateY(-0.5rem);
}

.github-green:hover,
.github-green:focus {
  color: #00ab6c;
}

.dribbble-pink:hover,
.dribbble-pink:focus {
  color: #ea4c89;
}

.youtube-red:hover,
.youtube-red:focus {
  color: red;
}

.instagram-pink:hover,
.instagram-pink:focus {
  color: #c13584;
}

.twitter-blue:hover,
.twitter-blue:focus {
  color: #1da1f2;
}

#distort {
  transition: transform 0.25s;
  will-change: transform;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
  padding-left: 0;
  width: 80%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #fff;
}

button.learn-more {
  width: 14rem;
  height: auto;
}

button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #000;
}

button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Pero', sans-serif;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #000;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #000;
}

.main-bg{
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}