@font-face {
  font-family: 'Pero';
  src: url('../fonts/perofont1.otf') format('opentype');
}

@font-face {
  font-family: 'Peroaf';
  src: url('../fonts/perofont2.otf') format('opentype');
}

@font-face {
  font-family: 'Biko';
  src: url('../fonts/Biko_Regular.otf') format('opentype');
}

h1,
.h1 {
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-family: 'Peroaf', sans-serif;
  font-size: 65px;
  color: #2c2c2e;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

h2,
.h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Peroaf', sans-serif;
  font-size: 2rem;
}

h3,
.h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Pero', sans-serif;
  line-height: 1.2;
  font-size: 1.75rem;
}

h4,
.h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Peroaf', sans-serif;
  line-height: 1.2;
  font-size: 1.5rem;
}

h5,
.h5 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Pero', sans-serif;
  font-size: 1.25rem;
}

h6,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Pero', sans-serif;
  font-size: 1rem;
}

.cool-link {
  font-family: 'Pero', sans-serif;
}

p {
  font-family: 'Biko', sans-serif;
  font-size: 24px;
  line-height: 2.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small {
  font-size: 80%;
  font-weight: 400;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.span_bold,
.bold {
  font-weight: bold;
  font-family: 'Peroaf', sans-serif;
}

ul li {
  font-family: 'Biko', sans-serif;
}

.px24 {
  font-family: 'Biko', sans-serif;
  font-size: 24px;
  line-height: 2.5rem;
}

@media (max-width: 769px) {

  h1,
  .h1 {
    font-size: 2.1rem;
  }

  h2,
  .h2 {
    font-size: 1.6rem;
  }

  h3,
  .h3 {
    font-size: 1.4rem;
  }

  h4,
  .h4 {
    font-size: 1.2rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
  }

  h6,
  .h6 {
    font-size: 0.8rem;
  }

  .socialmedia_links i {
    font-size: 2rem !important;
  }

  button .pr-1 {
    font-size: 0.7rem;
  }

  .im {
    font-size: 1rem !important;
  }

  .contact-link {
    font-size: 2.5rem !important;
  }
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease;
}

li {
  list-style: none;
}

button {
  font-family: 'Pero', sans-serif;
}

.socialmedia_links i {
  font-size: 4rem;
}

h1 s {
  text-decoration: none;
}

.cyan,
#cyan:hover {
  color: #60D9fe;
  cursor: pointer;
  transition: 0.3s ease;
}

.yellow,
#yellow:hover {
  color: #e5a500;
  cursor: pointer;
  transition: 0.3s ease;
}

.blueviolet,
#blueviolet:hover {
  color: #608afe;
  cursor: pointer;
  transition: 0.3s ease;
}

.green,
#green:hover {
  color: #5dc942;
  cursor: pointer;
  transition: 0.3s ease;
}

.violet,
#violet:hover {
  color: #7b79ff;
  cursor: pointer;
  transition: 0.3s ease;
}

.pinkred,
#pinkred:hover {
  color: #fe335e;
  cursor: pointer;
  transition: 0.3s ease;
}
